<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sum</h1>
    <form action="/sumprocess" method="post">
        No1 : <input type="text" name="txt1" required />
        No2 : <input type="text" name="txt2" required />

        <input type="submit" />
    </form>
</body>
</html>